
#video{
    height: 100%;
    width: 100%;
}
img1{
    height: 100%;
    width: 100%;
    text-align: center;
}
#contact iframe{
    width: 100%;
}
.contact_1 h5{
    display: inline;
}
.contact_1 a{
    text-shadow: none;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.travel_mainDiv{
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}
.travel_mainDiv img{
    width: 100%;
    height: 300px;
}
.travel_mainDiv hr{
    width: 100%;
}
.travel_mainDiv h5{
    margin-left: 20px;
}
.travel_mainDiv p{
    margin-left: 20px;
}
input{
    background: grey;
}
#acheivmentsID{
    padding-bottom: 10px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100px;
    display: inline-block;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color: #7700;
}